daemon off;
worker_processes auto;
pcre_jit on;
events {
    worker_connections 1024;
}

http {
    include              <: $alien_dir :>conf/mime.types;
    default_type         application/octet-stream;

    log_format           default "$time_local\t$remote_addr\t$status\t$body_bytes_sent\t$request";
    error_log            <: $log_dir :><: $app_name :>-nginx-error.log;
    log_not_found        off;
    access_log           off;

    sendfile             on;
    # aio                  on;
    # directio             512;
    output_buffers       1 128k;

    keepalive_timeout    70;
    geoip_country        <: $geoip_country_path :>;
    geoip_city           <: $geoip_city_path :>;

    gzip                 on;
    gzip_min_length      100;
    gzip_comp_level      4;
    gzip_proxied         any;
    gzip_types           application/javascript application/x-javascript text/plain text/css text/xml text/csv;
    gzip_static          on;

    real_ip_header       X-Real-IP;     # set $remote_addr to value from this header, ONLY if real $remote_addr is trusted (described in "set_real_ip_from")
    set_real_ip_from     unix:;         # all unix sockets is trusted

    proxy_buffers        64 32k;
    proxy_buffer_size    32k;
    proxy_http_version   1.1;

    resolver             8.8.8.8;

    # add_header           Cache-Control "no-store";

    server_tokens        off;

    # default server
    server {
        listen      *:80  default_server;
: if $ssl {
        listen      *:443 default_server ssl spdy;

        ssl_certificate_key       <: $app_dir :>/ca/private/nginx.centos_KEY.pem;
        ssl_certificate           <: $app_dir :>/ca/certs/nginx.centos_SERVER.crt;
        ssl_dhparam               <: $app_dir :>/ca/private/nginx.centos_DH.pem;
        ssl_protocols             TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers               HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;
        # ssl_stapling              on;
        ssl_session_cache         shared:SSL:10m;
        ssl_session_timeout       10m;
        # add_header                Strict-Transport-Security "max-age=31536000; includeSubDomains";
: }

        keepalive_timeout 1;

        location / {
            return 502;
        }
    }

    # vhosts
    include <: $vhosts_dir :>/*.nginx;
}
